/* Tablet */
@media all and (max-width: 1000px) {




    /* FOOTER RESPONSIVE */
    .lower-right {
        display: none;
    }
}

/* Handphone */
@media all and (max-width: 670px) {

    /* btn */
    .slide .btn {
        font-size: 20px;
        width: 150px;
    }

    /* font */
    .slide h1,
    .slide h2 {
        font-size: 20px;
    }

    .slide p {
        font-size: 15px;
    }

    /* slide */
    .slide {
        padding: 80px 0;
    }

    /* slider */
    .slider {
        display: block;
        width: 100%;
        /* background-color: #1f1f1f; */
        overflow: hidden;
        position: absolute;
        height: 65%;
    }


    /* FOOTER RESPONSIVE */

    .lower-right {
        display: none;
    }

    .lower-left {
        font-size: 80%;
    }
}

/* LIST-PRODUCT RESPONSIVE */
/* .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: hidden;
    justify-items: center;
    gap: 20px;
} */
