/* Tablet */
@media all and (max-width: 1000px) {

    /* HEADER */
    .header-logo {
        padding: 20px 310px;
    }

    .header-list {
        margin-left: 0;
    }

    .header-list a {
        font-size: 14px;
        margin: 15px 18px;
    }

    .main {
        height: 1200px;
    }

    .container-banner {
        height: 400px;
    }

    .slider {
        height: 65%;
    }

    .slide {
        font-size: 18px;
    }

    /* font */
    .slide h1,
    .slide h2 {
        font-size: 25px;
    }

    .slide p {
        font-size: 15px;
    }

    .product .product-icon .box-img img {
        width: 50%;
    }

    .heading b {
        font-size: 15px;
    }

    .text-contents {
        font-size: 18px;
    }

    .btn {
        padding: 10px 15px;
    }

    /* .form, */
    .lower-right,
    .search-bar {
        display: none;
    }

    .lower-footer {
        padding: 15px 210px;
    }

    /* font-form */
    .nama,
    .email,
    .pesan,
    .kirim {
        width: 350px;
        font-size: 17px;
        margin: 10px 210px;
    }

    .text {
		font-size: 30px;
		margin: 10px 220px;
	}

}

/* Handphone */
@media all and (max-width: 670px) {

	.header-bottom {
		height: 110px;
		width: 100%;
	}

	.header-logo {
		font-size: 25px;
		padding: 25px 170px;
		width: 100%
	}

    /* font */
    .slide h1,
    .slide h2 {
        font-size: 18px;
    }

    .slide p {
        font-size: 12px;
    }

    .slider {
        height: 50%;
    }

    .slide {
        font-size: 18px;
        padding: 100px 0;
    }

    .btn-pesan {
    	display: none;
    }

    /* FOOTER RESPONSIVE */

    .lower-right {
        display: none;
    }

    .lower-left {
        font-size: 80%;
    }

    /* font-form */
    .nama,
    .email,
    .pesan,
    .kirim {
        width: 250px;
        font-size: 17px;
        margin: 10px 50px;
    }

    .text {
		font-size: 18px;
		margin: 10px 130px;
	}

}

/* LIST-PRODUCT RESPONSIVE */
/* .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: hidden;
    justify-items: center;
    gap: 20px;
} */
